/* geral */
body, h1, p, span {
	margin: 0;
	font-family: Montserrat;
}

body {
	background-color: #0F1722;
}

h1 {
	text-align: center;
	margin: 30px 0;
	color: #fff;
}

/* calculadora */

#calculator {
	background-color: #1D293A;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

#screen-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 258px;
	height: 70px;
	border: 1px solid #364357;
	text-align: right;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px;
}

#upper-number, #result-number {
	float: right;
	color: #fff;
}

#result-number {
	font-weight: bold;
	margin-top: 5px;
	font-size: 22px;
	clear: both;
}
